/* Estilo general del select */
.select2-container .select2-selection--single {
    display: block;
    padding: .375rem 2.25rem .375rem .75rem;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: rgb(201, 199, 199);
}

/* Estilo de las opciones en el menú desplegable */
.select2-results__option {
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color: lightgrey;
}

/* Estilo del texto del placeholder */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: black;
    font-style: italic;
}

/* Estilo del botón de eliminar (clear) */
.select2-selection__clear {
    display: none;
}

.select2-search__field {
    background-color: lightgrey;
    border: 1px solid #000;
}

.select2-search--dropdown {
    display: block;
    padding: 4px;
    background-color: lightgrey;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #000;
    border-radius: 5px;
}